body{
    height: 600px;
    display: flex;
    min-height: 100px;
    background: url(IMG/Captura\ de\ tela\ 2024-07-07\ 012413.png) no-repeat; 
    background-size: cover;
    background-position: center;
}
.voltar{
    height: 50px;
}
.caixa{
    margin-left: 550px;
    text-align: center;
    height: 190;
    width: 380px;
    background-color: transparent;
    border: 2px;
    box-shadow: 0 0 10px ;
    color: rgb(208, 218, 218);
    border-radius: 10px;
    padding: 1px 10px;
    backdrop-filter: blur(10px);
}
.legenda1{
    font-size: 25px;
}
.email,
.nome,
.sobrenome,
.senha,
.senha1{
    padding: 3px;
    border-radius: 10px;
    color:rgb(44, 15, 87)
}
.facebook{
    height: 50px;
    margin-right: 20px;
}
.apple{
height: 55px;
margin-right: 20px;
}
.google{
    height: 50px;
}
.botao{
    border-radius: 10px;
    height: 35px;
    width: 105px;

}
