body{
    background:#d2cde0;
}
.bloco {
    position: fixed;
    top: 0;
    left: 0;
    width:1288px;
    padding: 20px 100px;
    background: rgb(14, 134, 194);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 100S;
}
.holo {
    display: flex;
    margin-right: 660px;
    color: #77f8f6;
}
.logo {
    display: flex;
    height: 80px;
    display: block;
    margin-left: 10px;
    float: left;
}
.cadastro {
    color: #77f8f6;
    display:flex;
    /* margin-left: 68px; */
    margin-right: 46px;
}
.cadastro2{
    color: #77f8f6;
    /* margin-left: 10px; */
    /* margin-right: 10px;  */
}
.algo {
    display: flex;
    margin-top: 200px;
    margin-left: 150px; 
}
.texto {
    font-size: 15px;
    color: rgb(16, 74, 145);
}
.idols{
    color: rgb(16, 74, 145);
    display: flex;
}
.resto{
    margin-left: 100px;
}
.img1 {  
    display: flex;
    height: 250px;
    /* margin-top: 20px; */
    margin-left: 200px;
    margin-right: 200px;
}
.img2 {
    position: absolute;
    display: flex;
    height: 250px;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 100px;
}